.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #17a2b8;
    margin: 5px;
    display: inline-block;
}

.number-block{
    width: 150px;
    border: 1px solid #17a2b8;
    padding: 10px;
    text-align: center;
    font-size: 31px;
    border-radius: 8px;
    margin: 5px;
}